h1 {text-align: center;
    font-family: avant garde;}
background-color {:green;}

body {
    background-color: rgb(233, 229, 192);}
h3 {
    text-align: center;color:rgb(97, 97, 94);
    font-family: avant garde;}
    li {
        display: inline;
        
        margin: 90px;
          
     }
